.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#map {
    flex: 1;
    height: 100%;
}

.histogram {
    flex: 1;
    height: 100%;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}


/* Histogram bars */
.bar {
    fill: steelblue; /* Adjust histogram bar color */
}

/* Axis */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 12px; /* Adjust axis text size */
}
